<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-12 text-center">
                <h4 >LAKECITY STUDIOS</h4>
                <p>When the band plays together and things just click, or the artist finds the perfect mood – our studios have been designed to capture these moments.
                    Whether it’s your first time in a studio or if the control room is like a second home, Lake City Recording Studio unique comfort and character will make you feel at home in the studio.
                    From recording a simple vocal melody to a band, capturing the energy of a live performance or producing a complete album, Roundhead has the people, spaces, equipment and experience to make it happen perfectly.
                    </p>
               
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <h4>Contact Info</h4>
                <div class="row">
                    <div class="col-6 float-right">
                        <img src="assets/images/user-location.png" alt="" >
                    </div>
                    <div class="col-6 float-left">
                        <p class="red">Our Location</p>
                        <p>Kisumu</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 float-right">
                        <img src="assets/images/user-phone.png" alt="">
                    </div>
                    <div class="col-6 float-left">
                        <p class="red">Phone</p>
                        <p >+254 717 712702</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <h2>Our Socials</h2>
                
                <div class="row text-center mt-4">
                    <div class="col">
                        <i class="fa-brands fa-facebook-f "></i>
                    </div>
                    <div class="col">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="col">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="col">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                    <div class="col">
                        <i class="fa-brands fa-tiktok"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
