<div class="about-us text-center">
    <h3>About Us</h3>
    <h5>LAKECITY Studios</h5>
    

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h4>LAKE CITY RECORDS UNDERSTANDS THE
                    MAGIC</h4>
                    <p>When the band plays together and things just click, or the artist finds the perfect
                        mood – our studios have been designed to capture these moments.
                        Whether it’s your first time in a studio or if the control room is like a second home,
                        Lake City Recording Studio unique comfort and character will make you feel at
                        home in the studio.
                        From recording a simple vocal melody to a band, capturing the energy of a live
                        performance or producing a complete album, Roundhead has the people, spaces,
                        equipment and experience to make it happen perfectly.</p>
            </div>
            <div class="col-md-6 col-sm-12 image" >
                <img src="assets/images/drums.JPG" alt="" >
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12 image">
                <img src="assets/images/18e78811-c385-4935-ad97-6abff1edd343.JPG" alt="" >
            </div>
            <div class="col-md-6 col-sm-12">
                <h4>WHY RECORD WITH LAKE CITY RECORDS?</h4>
                    <p>We all want the same thing: quality, professional sounding recordings that bring an
                        added dimension to our live performances and epitomise our creative talents.
                        And that is where we come in.
                        We have created a number of spaces to serve different purposes, for songwriting or
                        recording, and capturing the essence of a live performance. Whatever stage you’re
                        at with your musicianship, Lake City Recording Studio can, and will, save you time
                        and money. More importantly, it will foster and focus your creativity like no other
                        recording space.
                        With our engineers you will get a professional, fresh and unbiased opinion of how
                        your performance is sounding – and the result will sound good because it does, not
                        because you desperately want it to.
                        We understand that home recordings have their place, however Lake City
                        Recording Studio will help you get results faster, better and in a more creative
                        environment.</p>
            </div>
            
        </div>
    </div>
</div>