<div class="recording-studios ">
    <div class="container-fluid">
        <div class="text-center">
            <img src="assets/images/WHITE.png" alt="" height="">
        </div>
       <h3 class="text-center"> Book A Recording Session Today!</h3>
        <form>
            <div class="row">
                <div class="col-md-6 col sm-12">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">FirstName</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                      </div>
                </div>
                <div class="col-md-6 col sm-12">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Last Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                      </div>
                </div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Phone Number</label>
                <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Select Required Service</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>No Service Selected</option>
                  <option>Voice Overs</option>
                  <option>Create SoundTrack</option>
                  <option>Others</option>
                </select>
              </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Other Details</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="button text-center m-5">
                <button class="btn btn-success">Submit</button>
            </div>
            
          </form>
    </div>
   

      <div class="clear"></div>
</div>