<div class="pricing">
    <div class="container-fluid">
        <h2>LAKECITY Studios</h2>
        <h2>Pricing</h2>
        <div class="row">
            <div class="col-md-6 col-sm12">
                <div class="row">
                    <div class="col-6 ">
                        <p>Studio Time Hourly rate</p>
                    </div>
                    <div class="col-6">
                        <p>Kshs5000</p>
                    </div>
                    <div class="col-6">
                        <p>Post Edit per track</p>
                    </div>
                    <div class="col-6">
                        <p>Kshs800</p>
                    </div>
                    <div class="col-6">
                        <p>Mix per song 1-16 tracks 1revision</p>
                    </div>
                    <div class="col-6">
                        <p>Kshs1,200</p>
                    </div>
                    <div class="col-6">
                        <p>Mix per song 16-32 tracks 1 revision</p>
                    </div>
                    <div class="col-6">
                        <p>Kshs1,400</p>
                    </div>
                    <div class="col-6">
                        <p>Mix per song 32-48 1 revision</p>
                    </div>
                    <div class="col-6">
                        <p>Kshs1,550/p>
                    </div>
                    <div class="col-6">
                        <p>Extra Revision</p>
                    </div>
                    <div class="col-6">
                        <p>Kshs850/p>
                    </div>
                    <div class="col-6">
                        <p>Monophonic Auto Tune per track</p>
                    </div>
                    <div class="col-6">
                        <p>Kshs780</p>
                    </div>
                    <div class="col-6">
                        <p>Polvphonic Auto Tune per track</p>
                    </div>
                    <div class="col-6">
                        <p>Kshs1,950</p>
                    </div>
                    <div class="col-6">
                        <p>Rhythm Quantize per track</p>
                    </div>
                    <div class="col-6">
                        <p>Kshs750</p>
                    </div>
                    <div class="col-6">
                        <p>Master per track 1-2 Songs/ per song</p>
                    </div>
                    <div class="col-6">
                        <p>Kshs2,500</p>
                    </div>
                </div>
             </div>
             
             <div class="col-md-6 col-sm12">
                <div class="row">
                    <div class="col-6">
                        <p>Master 3-6 songs/ per Song</p>
                    </div>
                    <div class="col-6">
                        <p>Kshs2,800</p>
                    </div>
                    <div class="col-6">
                        <p>Master 6-10 songs/ per song</p>
                    </div>
                    <div class="col-6">
                        <p>Kshs2,900</p>
                    </div>
                    <div class="col-6">
                        <p>Bass Recording/ song</p>
                    </div>
                    <div class="col-6">
                        <p>Kshs1,300/p>
                    </div>
                    <div class="col-6">
                        <p>Drum Recording/ song</p>
                    </div>
                    <div class="col-6">
                        <p>Kshs1,550</p>
                    </div>
                    <div class="col-6">
                        <p>Keyboard Recording/ song</p>
                    </div>
                    <div class="col-6">
                        <p>Kshs1,100</p>
                    </div>
                    <div class="col-6">
                        <p>Guitar Recording/ per song</p>
                    </div>
                    <div class="col-6">
                        <p>Kshs1,100</p>
                    </div>
                    <div class="col-6">
                        <p>Percussion recording/ per song</p>
                    </div>
                    <div class="col-6">
                        <p>Kshs1,100</p>
                    </div>
                    <div class="col-6">
                        <p>Remote Sound Engineer and Producer/ hr</p>
                    </div>
                    <div class="col-6">
                        <p>Kshs6,500</p>
                    </div>
                    <div class="col-6">
                        <p>Professional musician (freelance price)</p>
                    </div>
                    <div class="col-6">
                        <p>Kshs2,800/p>
                    </div>
                    <div class="col-6">
                        <p>Extra Engineer (freelance price)</p>
                    </div>
                    <div class="col-6">
                        <p>Kshs3,200</p>
                    </div>
                </div>
              </div>
        </div>
        
    </div>
</div>
